swagger: '2.0'
info:
  title: Outlive
  description: Zombie survival
  version: "1.0.0"
host: javajava.ru
schemes:
  - http
basePath: /api
produces:
  - application/json
paths:
  /signup:
    post:
      parameters:
        - name: "form"
          in: "body"
          required: true
          schema: 
            $ref: '#/definitions/SignupForm'
      tags:
        - Registration
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SignupResponse'
        default:
          description: FAIL
          schema:
            $ref: '#/definitions/Error'
  /login:
    post:
      parameters:
        - name: "form"
          in: "body"
          required: true
          schema:
            $ref: '#/definitions/LoginForm'
      tags:
        - Login
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LoginResponse'
        default:
          description: FAIL
          schema:
            $ref: '#/definitions/Error'
            
  /logout:
    post:
      tags:
        - Logout
      responses:
        200:
          description: OK

  /best:
      get:
        tags:
          - Best users
        responses:
          200:
            description: array of best users
        

definitions:
  SignupForm:
    type: object
    properties:
      name:
        type: string
      email:
        type: string
      password:
        type: string
  LoginForm:
    type: object
    properties:
      email:
        type: string
      password:
        type: string
  SignupResponse:
    type: object
    properties:
      name:
        type: string
      email:
        type: string
  LoginResponse:
    type: object
    properties:
      name:
        type: string
      email:
        type: string
      visits:
        type: integer
        format: int32
        description: Amount of signing in for this user.
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      reason:
        type: string
